
#wb_header { height: 100px; }
#wb_header > .wb_cont_bg { background-color: transparent; }
#wb_header > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
#wb_main { height: 1040px; padding-bottom: 100px; }
#wb_main > .wb_cont_bg { background-color: transparent; }
#wb_main > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
#wb_footer { height: 100px; background-color: #1c2f42; }
#wb_footer:before { background: transparent none repeat-x center bottom; background-size: auto auto; opacity: 1; }
html { scroll-behavior: smooth; }
body { background-color: #ffffff; }
body.site:before { background: transparent none no-repeat scroll center top; }
.wb_sbg { background: transparent url("../img/790e27513432877f3689068c1505d508.jpg") repeat-x scroll left top; }
body, .wb_sbg { min-width: 1200px; min-height: 1240px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 1240px; min-height: 1240px; }
#wb_element_instance31 { top: 18px; left: 40px; min-width: 496px; width: 496px; min-height: 54px; height: 54px; display: block; z-index: 431; }
#wb_element_instance32 { top: 30px; left: 570px; min-width: 591px; width: 591px; min-height: 37px; height: 37px; display: block; z-index: 632; }
#wb_element_instance32 > ul { display: block; }
#wb_element_instance32 ul { background: transparent none repeat scroll right top; border: 1px none #000000; }
#wb_element_instance32, #wb_element_instance32 ul { text-align: right; }
#wb_element_instance32 ul ul { background: #1c2f42 none repeat scroll right top; }
#wb_element_instance32 li { margin: 0px 10px 0px 10px; }
#wb_element_instance32 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 0px 10px 0px; font: normal normal 16px 'Open Sans',sans-serif; text-decoration: none; color: #ffffff; line-height: 18px; background: transparent none no-repeat scroll center top; }
#wb_element_instance32 li.over > a, #wb_element_instance32 li:focus > a { border: 0px none #000000; font: normal normal 16px 'Open Sans',sans-serif; text-decoration: none; color: #70d9ff; line-height: 18px; background: transparent none no-repeat scroll center top; }
#wb_element_instance32 li.active > a { border: 0px none #000000; font: normal normal 16px 'Open Sans',sans-serif; text-decoration: none; color: #70d9ff; line-height: 18px; background: transparent none no-repeat scroll center center; }
#wb_element_instance32:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance32:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance32:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance33 { top: 50px; left: 40px; min-width: 1120px; width: 1120px; min-height: 48px; height: 48px; display: block; z-index: 79; }
#wb_element_instance34 { top: 160px; left: 40px; min-width: 1120px; width: 1120px; min-height: 28px; height: 28px; display: block; z-index: 82; }
#wb_element_instance35 { top: 610px; left: 40px; min-width: 1120px; width: 1120px; min-height: 330px; height: 330px; display: block; z-index: 83; }
#wb_element_instance36 form .form-area-field { height: 154px; }
#wb_element_instance36 { top: 224px; left: 360px; min-width: 810px; width: 810px; min-height: 280px; height: 280px; display: block; z-index: 84; }
#wb_element_instance37 { top: 230px; left: 40px; min-width: 280px; width: 280px; min-height: 308px; height: 308px; display: block; z-index: 85; }
#wb_element_instance38 { top: 35px; left: 0px; min-width: 1200px; width: 1200px; min-height: 29px; height: 29px; display: block; z-index: 263; }
#wb_element_instance39 { top: 84px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance31 p:last-child { margin-bottom: 0; }
#wb_element_instance31 { opacity: 1; }
#wb_element_instance33 p:last-child { margin-bottom: 0; }
#wb_element_instance33 { opacity: 1; }
#wb_element_instance34 p:last-child { margin-bottom: 0; }
#wb_element_instance34 { opacity: 1; }
#wb_element_instance36 form td { text-align: right; }
#wb_element_instance36 form tr.area-row > th { height: 1%; }
#wb_element_instance36 form tr.area-row > td { height: 1%; }
#wb_element_instance36 form tr.form-footer > td { height: 20px; }
#wb_element_instance37 p:last-child { margin-bottom: 0; }
#wb_element_instance37 { opacity: 1; }
#wb_element_instance38 p:last-child { margin-bottom: 0; }
#wb_element_instance38 { opacity: 1; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
